<!DOCTYPE html>
<html>
<title>QEA: Final</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("{{ url_for('static', filename='cover.jpg') }}");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card-2" id="myNavbar">
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">PROJECT</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i>TEAM</a>
      <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i>LINKS</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->
  </div>
</div>


<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-black" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Passive Dynamic Walking</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Check your Driving</span><br>
    <span class="w3-large">Designing an Efficient, Stable, Passive Walker </span>
    <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more today</a></p>
  </div>
</header>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center" style="font-size:30px">THE PROJECT</h3>
  <p class="w3-center w3-large" style="font-size:25px">DESCRIPTION</p>
  <div class="w3-row-padding w3-center" style="margin-top:10px">
    <p style="font-size:15px">
      We chose to model the dynamics of a passive dynamic walker for our final QEA project because we wanted to get more expereince with dynamics as well as
      simulations and physical modeling.
    </p>
  </div>

  <p class="w3-center w3-large"  style="font-size:25px">Why Passive Walking?</p>
  <div class="w3-row-padding w3-center" style="margin-top:10px">
    <p  style="font-size:15px">
      Passive Dynamic walking is the most efficient form of walking because it propels a peidal mechanism using only gravity.
  </p>
  </div>

  <p class="w3-center w3-large"  style="font-size:25px">Our MVP</p>
  <div class="w3-row-padding w3-center" style="margin-top:10px">
    <p  style="font-size:15px">
      Our MVP is a straignt leggd walker that can take two steps down a slope of 5 degrees. It's name is Tad
    </p>
  </div>
</div>

<!-- Promo Section - "We know design" -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>The Model</h3>
      <p  style="font-size:15px">
      We choose to...
    </p>
    </div>
    <!--
    <div class="w3-col m6">
    <figure>
      <img src="{{ url_for('static', filename='Headings.png') }}" id = "g2" style="width:600px;height:400px;">
      <figcaption>Fig.1 - Sensor data of phone position in three axis after driving in an ellipse.</figcaption>
    </figure>
    </div>
  </div>
-->
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>Research</h3>
      <p  style="font-size:15px">
        Before we started anything we each read some papers about the Passive Dynamic Walker problem to understand the different approaches people had taken
        in the past. Based on the papers we decided that the best approach to the problem would be to use Lagrangian Dynamics!
      </p>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col m6">
        <h3>Frames of Motion</h3>
        <p  style="font-size:15px">
          Here we have drawn our frames of motion for the problem.
        </p>
      </div>

    <div class="w3-col m6">
      <figure>
        <img src="{{ url_for('static', filename='passivewalker.png') }}" id = "g3" style="width:600px;height:400px;">
        <figcaption>Fig.6 - Frame of motion for the dynamic walker walking down a ramp </figcaption>
      </figure>
    </div>
    </div>
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <h3>Deriving Equations of Motion</h3>
        <p  style="font-size:15px">
          We used pen and paper!

        </p>
      </div>
    </div>
      <!--
      </div>
        <div class="w3-col m6">
          <figure>
            <img src="{{ url_for('static', filename='Ihats.png') }}" id = "g3" style="width:600px;height:400px;">
            <figcaption>Fig.6 - Validation of our rotation matrix using unit vector Ihat in the khat direction. </figcaption>
          </figure>
        </div>
      </div>
    -->
    <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>Modeling</h3>
      <p>
  We used Matlab!


      </p>
    </div>
</div>
    <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>Vailidation</h3>
      <p>
        We defietly will do this.
      </p>
    </div>
  </div>
    <!--
    <div class="w3-col m6">
      <figure>
        <img src="{{ url_for('static', filename='ComfortGraph.png') }}" id = "g1" style="width:600px;height:400px;">
        <figcaption>Fig.4 - Graph depicting the magnitude of the acceleration with different controlled driving styles.</figcaption>
      </figure>
      <figure>
        <img src="{{ url_for('static', filename='BarGraph.png') }}" id = "g1" style="width:600px;height:400px;">
        <figcaption>Fig.5 - Comfort was assesed as the scaled integrals in the global frame. The higher the comfort score, the more uncomfortable the
          driving is assumed to be. </figcaption>
      </figure>
    </div>
  </div>
-->
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <h3>Fabrication</h3>
        <p  style="font-size:15px">
          Where we talk about the making of Tad if that happens.
        </p>
      </div>
      <!--
        <div class="w3-col m6">
          <figure>
            <img src="{{ url_for('static', filename='VelocitiesTrim.png') }}" id = "g3" style="width:600px;height:400px;">
            <figcaption>Fig.7 - Velocity plotted in the global fram calculated from the acceleration data collected. </figcaption>
          </figure>
          <figure>
            <img src="{{ url_for('static', filename='Velocities_Untrimmed.png') }}" id = "g3" style="width:600px;height:400px;">
            <figcaption>Fig.8 - The drift of velocity plotted in the global fram calculated from the acceleration data collected. </figcaption>
          </figure>
        </div>
      </div>
    -->
      <div class="w3-row-padding">
        <div class="w3-col m6">
          <h3>Reflection</h3>
          <p  style="font-size:15px">
            Reflect on what life after QEA means

          </p>
        </div>

  </div>
</div>

<!-- Links Section -->
<div class="w3-container" style="padding:128px 16px" id="work">
  <h3 class="w3-center" style="font-size:30px">LINKS</h3>

  <p class="w3-center w3-large" style="font-size:25px">Matlab Scripts</p>
  <p class="w3-center w3-large">
  <a href="   ">Matlab 1</a>
  </p>
  <p class="w3-center w3-large">
  <a href="   ">Analysis Matlab</a>
  </p>
  <p class="w3-center w3-large">
  <a href="   ">Overnight Assignment PDF/a>
  </p>
</div>

<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
  <h3 class="w3-center"  style="font-size:30px">THE CLASS</h3>
  <div class="w3-row-padding w3-center" style="margin-top:10px">
    <p  style="font-size:15px">"The QEA experiment is a designated alternative for Signals and Systems, Dynamics, Linearity 1 and 2 and a foundational physics course;
    our hope is this experiment will lead to a more coherent ‘analysis stream’ down the road” - Mark Somerville.</p>
  </div>
  <h3 class="w3-center"  style="font-size:30px">THE TEAM</h3>
  <p class="w3-center w3-large">Maggie Rosner and Sam Eppinger</p>
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>

</body>
</html>
